
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
    <head>
        <h1>Employees</h1>
    </head> 
    <main>
        <ul>
            <li>Employee 01</li>
            <li>Employee 02</li>
            <li>Employee 03</li>
        </ul>
        <a href="/">Return to home page.</a>
    </main>
</body>
</html>