<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Restaurant</title>
</head>
<body>
    <head>
        <h1>My Restaurant</h1>
        <h2>Menu Access</h2>
        <ul>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/employees">Employees</a></li>
        </ul>
    </head> 
    <main>
        <p>Remember to verify if orders is correctly</p>
        <p>If some product is incorrect, make a request</p>
    </main>
</body>
</html>